.wrapper {
  background-color: #604652;
  max-width: 400px;
  max-height: 80vh;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;
  padding: 20px;
  border-radius: 20px;
}

.wrapper::-webkit-scrollbar {
  display: none;
}
.wrapper {
  scrollbar-width: none;
}
.deleteBtn {
  background: transparent;
  border: none;
  cursor: pointer;
}
.deleteBtn img {
  width: 32px;
}
.name-card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 300px;
  padding: 16px;
  border-bottom: 1px solid #e6b2ba;
}
.name-card h2 {
  color: #e6b2ba;
  font-size: 56px;
}
.overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(4px);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
}
/* .modal {
  width: 500px;
  height: 500px;
} */
.closeBtn {
  cursor: pointer;
  position: absolute;
  top: 16px;
  right: 16px;
  border: none;
  background: transparent;
}
